html,input  
  font-family: "AR PL UMing CN"
  font-weight: 700
  color: #fff
body
  background: url(../../img/epgBg.png)no-repeat
  background-size:cover
  overflow: hidden

@media screen and (width: 1920px)   
  html   
    font-size: 32px 
     
  body   
    width: 1920px 
    height: 1080px 
     
   

@media screen and (width: 3840px)   
  html   
    font-size: 64px 
     
  body   
    width: 3840px 
    height: 2160px 
     
   

@media screen and (width: 1366px)   
  html   
    font-size: 23px 
     
  body   
    width: 1366px 
    height: 768px 
     
   

@media screen and (width: 1280px)   
  html   
    width: 1280px 
    height: 720px 
    font-size: 21.33px 
     
  body   
    width: 100% 
    height: 100% 
     
   