@font-face   
  font-family: 'iTalkBB-icon' 
  src:
          url('../fonts/iTalkBB-icon.ttf?787q8i') format('truetype'),
          url('../fonts/iTalkBB-icon.woff?787q8i') format('woff'),
          url('../fonts/iTalkBB-icon.svg?787q8i#iTalkBB-icon') format('svg') 
  font-weight: normal 
  font-style: normal 
  

[class^="DFicon-"], [class*=" icon-"]   
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iTalkBB-icon' !important 
  speak: none 
  font-style: normal 
  font-weight: normal 
  font-variant: normal 
  text-transform: none 
  line-height: 1 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased 
  -moz-osx-font-smoothing: grayscale 
  

.icon-promotion:before   
  content: "\e90a" 
  
.icon-account:before   
  content: "\e900" 
  
.icon-checkbox-checked:before   
  content: "\e901" 
  
.icon-checkbox-unchecked:before   
  content: "\e902" 
  
.icon-continue:before   
  content: "\e903" 
  
.icon-eye:before   
  content: "\e904" 
  
.icon-fullscreen:before   
  content: "\e905" 
  
.icon-lock:before   
  content: "\e906" 
  
.icon-login:before   
  content: "\e907" 
  
.icon-logo:before   
  content: "\e908" 
  
.icon-logout:before   
  content: "\e909" 
  
.icon-record:before   
  content: "\e90f" 
  
.icon-success:before   
  content: "\e910" 
  
.icon-updateCard:before   
  content: "\e911" 
  
.icon-user:before   
  content: "\e912" 
  
.icon-spinner:before   
  content: "\e982" 
  


.logo 
  position: fixed
  display: inline-block
  font-size: 8rem
  left: 2.1rem
  top: -1rem 
